@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
}

.header{
    background: #4162ff;
    display: flex;
    height: 80px;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.header .logo{
    margin-left: 30px;
    cursor: pointer;
}

.header .titulo{
    background: #1a61d3;
    height: 50px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.header .usuario{
   margin-right: 30px;
   width: 55px;
   height: 55px;
   background: #fff;
   border-radius: 30px;
   box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.54);
   cursor: pointer;
}

.cards_cursos .curso{
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.54);
    height: 250px;
    margin: 20px;
    background: #fff;
    border-radius: 20px;
}

.cards_cursos .curso .titulo{
    background: #26de81;
    padding: 20px;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}


.cards_cursos .curso .card_contain{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards_cursos .curso .card_contain .teoria{
    background: #26de81;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 50%;
    padding: 10px;
}

.cards_cursos .curso .card_contain .practica{
    background: #26de81;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

.cards_cursos .curso .card_contain a{
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}